<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帖子列表</title>
    <link href="__PUBLIC__/css/tableCSS.css" rel="stylesheet">
</head>
<body>
    <table class="table" style="margin-left: 20%">
        <tr>
            <th>ID</th>
            <th>留言者</th>
            <th>发表内容</th>
            <th>登陆IP</th>
            <th>发言时间</th>
        </tr>
        <foreach name="list" item="v">
            <tr>
                <td><{$v.id}></td>
                <td><{$v.username}></td>
                <td><{$v.content}></td>
                <td><{$v.userip}></td>
                <td><{$v.time}></td>
            </tr>
        </foreach>
        <td colspan="5"><{$page}></td>
    </table>
</body>
</html>